streamlit
google-generativeai
python-dotenv
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
torch
torchvision
SpeechRecognition
gtts<2.5
scikit-learn
pandas
numpy
joblib
plotly